@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    min-height: 100%
}

body {
    background: #fcf3ee;
    min-height: 100%; /* warum geht das nicht */
}

body:not(.user-is-tabbing) button:focus,
	body:not(.user-is-tabbing) input:focus,
	body:not(.user-is-tabbing) select:focus,
	body:not(.user-is-tabbing) textarea:focus {
		outline: none !important; /* greift nicht :( */
		box-shadow: none;
	}

